.container-box{
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/11093131/pexels-photo-11093131.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container{
    min-width: 500px;
    height:100px;
    background-color:transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-heading{
    /* text-align: center; */
    margin-bottom: -28px;
    font-family: Lobster,cursive;
    font-size: 30px;
}

.container-title{
    margin-top: 20px;
    font-family: Ubuntu,sans-serif;
    font-size: 20px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.form-container form input{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 6px;
    width:80%;
    font-size: 14px;
    background-color:rgb(243, 240, 237);
    border: 1px solid white;
    text-align: center;
    color: rgb(139, 19, 19);
    font-weight:500;
}

.form-container form button{
    width: 60%;
    height: 30px;
    padding: 6px;
    border: none;
    outline: none;
    background-color: rgba(52, 52, 50, 0.151);
    border-radius: 5px;
    border: 1px solid white;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
}

.response-container{
    margin-top: 10px;
    background: transparent;
    border-radius: 10px ;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 200px;
    text-align: center;
    overflow-y: scroll ;
    width: 60%;

}

.response-item{
    
    margin-top: 10px;
    display:flex;
    gap: 8px;
    gap: 30px;

}

.response-item p {
    margin: 0;
}
.response-name{
    color: rgb(156, 33, 33);
    font-size: larger;
    font-weight: 800;
}
.response-message{
    color: rgb(8, 7, 52);
    font-size: medium;
    font-weight: 700;
}